@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f5f9; /* Fallback slate-100 color */
}